/* FONTS */

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2"),
      url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto" "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #a0a0a0;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* HEADER */

.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-nav {
  background-color: #fff;
}

.site-nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav-item-header{
  display: flex;
}

.site-nav-item:first-child{
  margin-right: 25px;
}

.site-nav-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  color: #000;
}
.site-logo {
}

/* HERO */


.site-hero-top {
  background-image: url(../img/hero-top-bg.jpg);
  widows: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.site-hero-top-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 190px;
  padding-bottom: 190px;
}
.site-hero-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 43px;
  line-height: 46px;
  font-weight: 400;
}
.site-hero-text {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 28px;
}
.site-hero-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
  color: #fff;
}


.site-hero-middle{
  background-color: #fff;
}

.site-hero-middle-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.site-hero-middle-heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 43px;
  line-height: 58px;
  color: #000;
}

.site-hero-middle-text {
  margin: 0;
  margin-bottom: 25px;
  letter-spacing: 0.8px;
}

.site-hero-middle-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}


.site-items {
}
.site-item-computers {
  display: flex;
  align-items: center;
}
.site-items-pc:not(:last-child) {
  margin-right: 8px;
}
.site-items-pc-sourse {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pc-sourse {
  color: #000;
}
.pc-link {
}